*.log
*.log
.cache
.DS_Store
.idea
.vscode
.npmrc

**/sn-filter-pane-ext
**/sn-listbox-ext
**/node_modules
**/coverage
**/dist
**/core/esm

# testing
test/rendering/reports
test/rendering/baselines-local
test-results
test/integration/reports
test/integration/baselines-local